[package]
name = "tyractorsaur"
version = "0.1.0"
authors = ["sers.dev <admin@sers.dev>"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/sers-dev/tyractorsaur"
homepage = "https://github.com/sers-dev/tyractorsaur"
description = "Typed Actor System"
keywords = ["typed", "actor", "scaling", "actor-model", "concurrency", "async", "tyractorsaur"]
categories = ["network-programming", "asynchronous", "concurrency"]
exclude = ["/.github", ".gitignore"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "tyractorsaur"
path = "src/lib.rs"

[dependencies]
config = "0.10.1"
serde = { version = "1.0", features = ["derive"] }
num_cpus = "^1.10.1"
threadpool = "1.0"
crossbeam-channel = "*"
dashmap = "4.0.2"
hostname = "0.3.1"

[dev-dependencies]
