[package]
name = "tractor"
version = "0.1.0"
authors = ["Bobonium <bobonium@sers.dev>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "tractor"
path = "src/lib.rs"

[patch.crates-io]
tractor = { path = "." }

[dependencies]
config = "0.10.1"
glob = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
num_cpus = "^1.10.1"
threadpool = "1.0"
crossbeam-channel = "*"
dashmap = "4.0.2"
hostname = "0.3.1"
[dev-dependencies]
